<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RankUp</title>
    <link rel="stylesheet" href="../static/styles_login.css" />
    <script src="../static/script.js"></script>
  </head>
  <body>
    <div class="login_container">
      <h1>RankUp</h1>
      <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <input type="submit" value="Login"/>
        <p></p>
        <a class="register_a" href="./register.html">Don't have an account?</a>
        <p>{{ error }}</p>
      </form>
    </div>
  </body>
</html>
